<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Letter For People</title>

</head>
<body>
    <div id="page-landing">
        <div id="container">
            <header>
                <img class="animate-up" id="logo" src="/images" alt="logo marca de News For People">
                <div class="location animate-up">
                    <strong>Belo Horizonte</strong>
                    <p>Minas Gerais</p>
                </div>
            </header>
            <main>

                <h1 class="animate-up">NewsLetter For People</h1>
                <section class="visit">
                    <p class="animate-up">Broadcast de Informacoes</p>

                    <a class="animate-up" href="" title="Envio de informacoes">
                        <img src="/images" alt=" Envio">
                    </a>
                </section>
            </main>
        </div>

    </div>






</body>

</html>